button[type="submit"] {
	margin: 0px auto;
	float: none;
}

.h1-wrap {
	text-align: center;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF; 
}

.navbar-default .navbar-toggle:hover, .navbar-default .collapsed {
	background-color: transparent;
}
