/*========================
GLOBAL
=========================*/

@font-face {
  font-family: $fuente-logo;
  src: url($fuente-logo-url);
}


h1 {
  text-transform: capitalize;
  font-size: 37px;
  font-weight: 900;
  width: 414px;
  letter-spacing: 0.040em;
  position: relative;
  display: inline-block;
  margin: 25px auto !important;
  text-align: center;
  /*border: 1px solid rgba(47, 46, 47, 0.59);*/
  &:before, &:after {
    content: " ";
    display: inline-block;
    width: 25px;
    height: 1px;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
  }
  &:before {
    margin-right: 10px;
    left: 20px;
  }
  &:after {
    margin-left: 10px;
    right: 20px;
  }
}

p.desc-text {
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
}

.text-content.container {
  margin-top: 65px;
  margin-bottom: -51px;
}

.right-text p {
  text-align: left !important;
  border-bottom: 1px solid;
  padding: 10px 0;
}

* {
  -webkit-font-smoothing: antialiased;
  @include box-sizing(border-box);
  &:before, &:after {
    @include box-sizing(border-box);
    -webkit-font-smoothing: antialiased;
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, p, span, a {
  font-family: $fuente-titulos;
  color: #2f2e2f;
  /*margin: 0;*/
  padding: 0;
}