/*========================
    NAV
=========================*/

.navbar-brand {
  font-family: $fuente-brand;
  font-size: 34px !important;
  text-decoration: none;
  color: white !important;
}

nav {
  background: $color-fondo-cabecera !important;
  font-size: 18px;
  color: white !important;
}