/*========================
VARIABLES
=========================*/

$tam-moviles-peq: 400px;
$tam-moviles: 660px;
$tam-tablets: 767px;
$tam-escritorio: 1100px;

$fuente-logo: 'restaurantLogo';
$fuente-logo-url: '../fonts/aldine.ttf';
$fuente-brand: $fuente-logo, cursive;

$color-fondo-cabecera: #1E1E1E;
$color-fondo-pie: #1C1C1C;
$color-texto-pie: #6B6B6B;

$fuente-titulos: "museo-sans", helvetica, sans-serif;